<div class="container d-flex flex-column col-xs col-md-6 col-xl-4 border border-light border-1">
  <h1>Sign Up:</h1>
  <span class="text-muted">* - required</span>
  <form class="text-center needs-validation" action="/auth/signup" method="POST" enctype="multipart/form-data">
    <div class="my-3 form-floating">
      <input id="auth-username" class="form-control" placeholder="Your Username" type="text" name="userName" required/>
      <label for="auth-username">Username*</label>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating my-3">
          <input type="text" name="firstName" class="form-control" placeholder="First Name" id="auth-firstname"/>
          <label for="auth-firstName">First Name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating my-3">
          <input type="text" name="lastName" class="form-control" placeholder="Last Name" id="auth-lastname" />
          <label for="auth-lastName">Last Name</label>
        </div>
      </div>
    </div>
    <div class="form-floating my-3">
      <input type="email" name="email" class="form-control" placeholder="Email" id="auth-email" required/>
      <label for="auth-email">Email*</label>
    </div>
    <div class="form-floating my-3">
      <input type="password" name="password" class="form-control" placeholder="Password" id="auth-password" required/>
      <label for="auth-password">Password*</label>
      <div id="passwordVals" class="text-start hidden">
        <ul>
          <li class="valid-error">At Least 8 Chararters.</li>
          <li class="valid-error">Uses numbers and characters</li>
          <li class="valid-error">Uses special characters i.e. !, #, &</li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-3 col-md-4 my-3">
        <img id="imagePreview" width="100" height="100" src="https://res.cloudinary.com/dom5vocai/image/upload/v1613426540/crane_logo_xzo7cm.png" alt="profile photo" />
      </div>
      <div class="col-xs-3 col-md-6 my-3">
        <label for="auth-image" class="form-label w-100">Profile Picture</label>
        <input class="form-control-sm" type="file" accept="image/*" name="image" id="auth-image">
      </div>
    </div>
      <div class="col">
        <div class="form-check form-switch">
          <div class="d-flex column">
            <div class="container">
              <label class="form-check-label fs-4" for="auth-privacy">Privacy:</label>
            </div>
            <div class="container ms-4">
              <input class="form-check-input fs-5" type="checkbox" name="isPrivate" id="auth-privacy">
            </div>
          </div>
        </div>
        <div class="text-start">
          <span id="publicInfo"><span class="fs-3 fw-bold">Public:</span> Everyone can see your posts and anyone can follow you.</span>
          <span id="privateInfo" class="hidden"><span class="fs-3 fw-bold">Private:</span> Only your followers can see your posts and you choose who follows you.</span>
        </div>
      </div>
    <div class="m-3">
      <button id="signUpSubmit" type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
</div>
<script src="/js/auth.js" type="text/javascript"></script>