<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img width="60" src="https://res.cloudinary.com/dom5vocai/image/upload/v1613426540/crane_logo_xzo7cm.png" alt="logo for crane" />
            <span class="ms-3" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">CRANE</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <div>
                <!-- Placeholder to justify content -->
            </div>
            <form class="d-flex ml-auto">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/feed">FEED</a></li>
                <% if (!currentUser) { %>
                    <li class="nav-item"><a class="nav-link" href="/auth/signup">SIGNUP</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/login">LOGIN</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/profile">PROFILE</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/logout">LOGOUT</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>