<% if (currentUser && isMember) { %>
    <div class="card m-3 rounded-pill">
        <div id="contentCreation" class="card-body d-flex justify-content-around">
            <button type="button" class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal" data-bs-target="#newFlockModal">+ NEW FLOCK</button>
            <button type="button" class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal" data-bs-target="#newPostModal">+ NEW POST</button>
        </div>
    </div>
<% } %>