<% if (currentUser) { %>
    <div class="card m-3 rounded-pill">
        <div id="contentCreation" class="card-body d-flex justify-content-center">
            <button type="button" id="newButton" class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal" data-bs-target="#newFlockModal">+ NEW FLOCK</button>
        </div>
    </div>
<% } %>