<div aria-live="polite" aria-atomic="true" class="position-relative">
    <!-- Position it: -->
    <!-- - `.toast-container` for spacing between toasts -->
    <!-- - `.position-absolute`, `top-0` & `end-0` to position the toasts in the upper right corner -->
    <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
    <div class="toast-container position-fixed end-0 p-3" style="z-index: 5"> 
        <!-- Then put toasts within -->
        <!-- Alerts -->
    <% if (alerts.error) { %>
        <% console.log(alerts) %>
        <% alerts.error.forEach(msg => { %>
            <div class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img width="40" src="https://res.cloudinary.com/dom5vocai/image/upload/v1613426540/crane_logo_xzo7cm.png" class="rounded me-2" alt="crane logo">
                    <strong class="me-auto">Crane</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body"><%= msg %></div>
            </div>
        <% }) %>
    <% } %>
    <% if (alerts.success) { %>
        <% alerts.success.forEach(msg => { %>
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img width="40" src="https://res.cloudinary.com/dom5vocai/image/upload/v1613426540/crane_logo_xzo7cm.png" class="rounded me-2" alt="crane logo">
                    <strong class="me-auto">Crane</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body"><%= msg %></div>
            </div>
        <% }) %>
    <% } %>
    <div id="toastTemplate" class="toast hidden" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img id="toastImg" width="40" src="" class="rounded me-2" alt="">
            <strong class="me-auto"></strong>
            <small id="toastTime" class="text-muted"></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toastInfo" class="toast-body"></div>
    </div>
</div>
<script src="/js/notifications.js" type="module"></script>