<div id="particles-js"></div>
<div id="greeting" class="card bg-transparent shadow position-absolute top-50 start-50 translate-middle">
    <div class="card-body text-center">
        <h5 class="card-title fw-bold fs-2">Welcome to CRANE!</h5>
        <img class="responsive-img rounded-circle" src="https://res.cloudinary.com/dom5vocai/image/upload/v1613426540/crane_logo_xzo7cm.png" />
        <p class="text-muted">A social media application.</p>
        <a href="/auth/signup" class="card-link btn btn-outline-dark">Signup</a>
        <a href="/auth/login" class="card-link btn btn-outline-dark">Login</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="/js/home.js" type="text/JavaScript"></script>