/* General css */

html, body {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: white;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

header {
  margin-top: 30%;
}

.hidden {
  display: none;
}

#imagePreview {
  border-radius: 100%;
}

.valid-error {
  color: red;
  list-style-type: "X ";
}

.valid-success {
  color: green;
  list-style-type: "✓ ";
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.toast-container {
  bottom: 0;
}

#profileContainer #userNav .collapse {
  max-height: 300px;
  overflow-y: scroll;
}

/* For Feed page */

#contentCreation .option {
  transition: 1s;
}

#userNav {
  margin: 0;
}

#postContainer .post-content {
  max-height: 300px;
  overflow-y: scroll;
}

#postContainer .wings {
  text-align: end;
  font-size: medium;
  width: 32%;
  align-self: center;
}

#postContainer .groupInfo {
  width: 70%;
}

#postContainer .groupName {
  font-size: medium;
}

#postContainer .postImage {
  width: 100%;
}

#postContainer {
  min-width: 100%;
}

#postContainer .post {
  min-width: 100%;
}

/* For flock page */

#flockInfo .flockImg {
  width: 75px;
  height: 75px;
}

/* For profile page */

.profileImg {
  width: 75px;
}

#editProfileModal .validators {
  list-style-position: inside;
}

/* For post page */
#sideNav {
  display: block;
}

#commentContainer {
  position: relative;
  background: white;
}

#commentContainer .nav-link {
  border-left: 1px solid lightgrey;
}

#commentContainer .card {
  border: 0px solid grey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

#commentScroll .wings {
  text-align: end;
  font-size: medium;
  width: 100%;
  align-self: center;
}

#collapseResults {
  background-color: white;
}

nav .btn-close {
  display: flex;
  justify-self: right;
}

@media screen and (min-width: 720px) {
  header {
    margin-top: 20%;
  }
  .toast-container {
    bottom: auto;
    top: 20%;
  }
  #postContainer .collections {
    text-align: end;
  }
  #postContainer .groupName {
    font-size: medium;
  }
  #postContainer .wingModifyBtns {
    text-align: center;
  }
  #postContainer .post {
    min-width: 95%;
  }
  .profileImg {
    width: 75px;
  }
  #flockInfo .flockImg {
    width: 75px;
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    margin-top: 10%;
  }
  #greeting {
    top: 40%;
  }
  .toast-container {
    top: 15%;
  }
  #userNav {
    position: fixed;
    top: 20%;
    left: 75%;
    width: 25%;
  }
  #feedContainer #userNav,
  #profileContainer #userInfo,
  #flockContainer #flockInfo {
    position: fixed;
    top: 20%;
    left: 0%;
    width: 25%;
  }
  .groupName {
    font-size: large;
  }
  #postContainer {
    margin: auto;
    min-width: 50vw;
    max-width: 50vw;
  }
  .profileImg {
    width: 100px;
  }
  #flockInfo .flockImg {
    width: 100px;
    height: 100px;
  }
}