header {
  margin-top: 30%;
}

.hidden {
  display: none;
}

@media screen and (min-width: 720px) {
  header {
    margin-top: 20%;
  }
}

@media screen and (min-width: 1200px) {
  header {
    margin-top: 10%;
  }
}