<div class="modal fade" id="deleteFlockModal" tabindex="-1" aria-labelledby="deleteFlockModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Flock <%= flock.name %> ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-muted">Warning: This action is permanent.</p>
                <form class="text-center" method="POST" action="/flocks/<%= flock.name %>/delete/?_method=DELETE">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">GO BACK</button>
                    <input class="btn btn-danger" type="submit" value="CONFRIM DELETE" />
                </form>
            </div>
        </div>
    </div>
</div>