<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostLabel">New Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="text-center" action="/<%= flock.name %>/posts" method="POST" enctype="multipart/form-data">
                    <div class="col">
                        <div class="form-floating my-3">
                            <textarea class="form-control" id="post-content" placeholder="content" name="content" height="100"></textarea>
                            <label for="post-content">Content</label>
                        </div>
                    </div>
                    <div class="btn-group d-flex justify-content-between" id="myTab" role="tablist" aria-label="Button group for post">
                        <button class="btn btn-primary" type="submit" type="button">
                            <span class="ms-1">POST</span>
                        </button>
                        <button class="btn btn-outline-dark" id="imageTrigger" data-bs-toggle="collapse" data-bs-target="#imageCollaspe" aria-expanded="false" aria-controls="imageCollaspe" type="button">
                            <i class="far fa-image"></i><span class="ms-1">Add image</span>
                        </button>
                        <button class="btn btn-outline-dark" type="button">
                            <i class="far fa-file"></i><span class="ms-1">Add GIF</span>
                        </button>
                    </div>
                    <div id="imageCollaspe" class="row collapse text-center">
                        <div class="col-xs-3 col-md-4 my-3">
                            <img id="postImagePreview" class="img-thumbnail" width="100" height="100" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" alt="post photo" />
                        </div>
                        <div class="col-xs-3 col-md-6 my-3 hidden">
                            <label for="post-image" class="form-label w-100">Flock Photo</label>
                            <input class="form-control-sm" type="file" accept="image/*" name="image" id="post-image">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>