<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="text-center needs-validation" action="/flocks" method="POST" enctype="multipart/form-data">
                    <div class="col">
                        <div class="form-floating my-3">
                            <textarea class="form-control" id="post-content" placeholder="content" name="content" height="100"></textarea>
                            <label for="post-content">Content</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-md-4 my-3">
                            <img id="imagePreview" width="100" height="100" src="https://res.cloudinary.com/dom5vocai/image/upload/v1613426540/crane_logo_xzo7cm.png" alt="profile photo" />
                        </div>
                        <div class="col-xs-3 col-md-6 my-3">
                            <label for="auth-image" class="form-label w-100">Flock Photo</label>
                            <input class="form-control-sm" type="file" accept="image/*" name="image" id="flock-image">
                        </div>
                    </div>
                    <div class="btn-group d-flex justify-content-between" id="myTab" role="tablist" aria-label="Button group for post">
                        <button class="btn btn-outline-dark" type="button">
                            <i class="fas fa-user-friends"></i><span class="ms-1">Followers</span>
                        </button>
                        <button class="btn btn-outline-dark" type="button">
                            <i class="fas fa-dove"></i><span class="ms-1">Add image</span>
                        </button>
                        <button class="btn btn-outline-dark" type="button">
                            <i class="far fa-file"></i><span class="ms-1">Add GIF</span>
                        </button>
                    </div>
                    <div class="m-3">
                        <button id="signUpSubmit" type="submit" class="btn btn-primary">POST</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>